<!DOCTYPE html>
<html lang="en">
<%- include('../partials/adminHead.ejs') %> 
<body>
    <%- include('../partials/adminNav.ejs') %>
    <div class="dashboard">
        
        <h2>Welcome Admin</h2>
        <div class="info">
            <div class="top">
                <div class="box">
                    <p>Alumni Requests</p>
                    <h3>00</h3>
                </div>
                <div class="box">
                    <p>Unread Messages</p>
                    <h3>00</h3>
                </div>
                <div class="box">
                    <p>Media Requests</p>
                    <h3>00</h3>
                </div>
            </div>
            <div class="bottom">
                <div class="left">
                    <div class="top box">
                        <p>Registered Alumni</p>
                        <h3>00</h3>
                    </div>
                    <div class="down box">
                        <p>Alumni in</p>
                        <h3>00</h3>
                        <p>countries</p>
                    </div>
                </div>
                <div class="right">
                    <p>Alumni Analytics</p>
                    <div>

                    </div>
                </div>
            </div>
        </div>
        <div class="recently-added">
            <h2>Recently added</h2>
            <div class="recent-table">

            </div>
        </div>
    </div>
    <%- include('../partials/adminFooter.ejs') %>
</body>
</html>