<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/loginadmin.css">
    <link rel="icon" type="image/x-icon" href="/img/asset/bu_logo.png">
    <title><%-title %></title>
</head>
<body>
    <div class="login">
        <div class="form">
            <h1>Admin Login</h1>
            <% if (messages.error){ %>
                <div class="error-msg">
                    *<%= messages.error %>
                </div>
            <% } %>
            <% if (message) { %>
                <%= message %>
            <% } %>
                <form action="/admin/auth/login" method="POST">
                    <div>
                        <input type="email" name="email" placeholder="E-mail" >
                    </div>
                    <div>
                        <input type="password" name="password" placeholder="Password" >
                    </div>
                    <button type="submit" class="submit-btn">Login</button>
                </form>
                <div class="foot">
                    <a href="/">BATS Home</a>
                    <p>•</p> 
                    <a href="/alumni/auth/login">Alumni Login</a>
                </div>
        </div>
    </div>
</body>
</html>