<!DOCTYPE html>
<html lang="en">
<%- include('../partials/adminHead.ejs') %> 
<body>
    <%- include('../partials/adminNav.ejs') %>
    <div class="admins-page">
        <div class="ctrl">
            <h2>Admins Page</h2>
            <a href="/admin/auth/register">Register Admin</a>
        </div>
    </div>
    <%- include('../partials/adminFooter.ejs') %>
</body>
</html>