<!DOCTYPE html>
<html lang="en">
<%- include('../partials/guestHead.ejs') %> 
<body>
    <%- include('../partials/guestNav.ejs') %>
    <div class="main">
        <div class="hero">
            <div class="text">
                <h1>Babcock Alumni Tracking System</h1>
                <p> Babock Alumni tracking system is a platform that allows Babcock University 
                    to maintain a database of their alumni and keep track of their professional 
                    progress. The platform provides a comprehensive solution for alumni engagement, 
                    tracking, and communication.</p>
            </div>
            <div class="img">
                
            </div>
        </div>
        <div class="why">
            <div class="img">

            </div>
            <div class="text">
                <h2>Why Alumni tracking?</h2>
                <p> Babcock Alumni Tracking System can help to keep alumni engaged with the 
                    institution even after graduation. It allows the university to keep track of its alumni 
                    professional achievements and connect them with other alumni, 
                    fostering a sense of community and pride in their alma mater. 
                    This can lead to increased support for the institution.</p>
            </div>
        </div>
        <div class="benefits">
            <h2>benefits</h2>
            <div class="cards">
                <div class="card">
                    <div class="img">
    
                    </div>
                    <div class="text">
                        <h3>Enhancing Alumni Engagement</h3>
                        <p>By providing a central location for alumni to connect and network with each 
                            other, an the Babcock alumni tracking system can enhance engagement and foster a sense of community among graduates.
                        </p>
                    </div>
                </div>
                <div class="card">
                    <div class="img">
    
                    </div>
                    <div class="text">
                        <h3>Showcasing Alumni Success</h3>
                        <p>Babcock's alumni tracking system can be an opportunity to showcase the achievements of alumni 
                            and the success of the institution in producing successful graduates. 
                            This can be a powerful tool for encouraging alumni to stay engaged with the institution and promote its brand.
                        </p> 
                    </div>
                </div>
                <div class="card">
                    <div class="img">
    
                    </div>
                    <div class="text">
                        <h3>Improving Institutional Data</h3>
                        <p>
                            Babcock's alumni tracking system provides a centralized location for collecting data on alumni. 
                            Which can be helpful to the institution in knowing mor about its alumni and see where its weaknesses
                            and strengths lie.
                        </p>
                    </div>
                </div>    
            </div>
        </div>
        <div class="cta">

        </div>
    </div>  
    <%- include('../partials/guestFooter.ejs') %>
</body>
</html>