<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head.ejs') %> 
<body>
    <h1>Welcome to Bats</h1>
    <a href="/auth/login">Login</a>
    <a href="/auth/register">Register</a>
</body>
</html>