<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title> <%-title %></title>
        <link rel="stylesheet" type="text/css" href="/css/loginstyle.css" />
    </head>
<body>

    <div class="loginleft">


        <a href="/" class="logo">
            <img src="/img/asset/bu_logo.png" alt="Babcock Alumni Logo">
            <h3>Babcock Alumni <br>tracking  System<br>(BATS)</h3>
        </a>

        
        <div class="login">
            
            <h2>Welcome Back</h2>
            
            <form action="/auth/login" method="POST">
                
                <% if (messages.error){ %>
                    <%= messages.error %>
                <% } %>
                
                <div>
                    <label for="email">Email</label>
                    <br>
                    <input type="email" name="email" id="email" class="input-field" required>
                </div>
                
                <div>
                    <label for="password">Password</label>
                    <br>
                    <input type="password" name="password" id="password" class="input-field" required>
                </div>
                <div class="submit-area">
                    
                    <button type="submit" class="submit-btn">Login</button>
                    
                    <a href="#">Forgot Password?</a>

                </div>
                
            </form>

        </div>
        
        <p>Don't have an account? <a href="/auth/register">Register Now</a></p>

    </div>

    <div class="loginright">
       
        <a href="/auth/register" class="reg-btn">Register</a>
       
    </div>
</body>
</html>