<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head.ejs') %> 

<body>
    <h1>Register</h1>

    <form action="/users" method="POST">
        <div class="personal-details">
            <div>
                <input type="text" name="first_name" id="fname" placeholder="First Name" required>
            </div>
            <div>
                <input type="text" name="last_name" id="lname" placeholder="Last Name"  required>
            </div>
            <div>
                <input type="date" name="dob" id="dob" placeholder="Birthday"  required>
            </div>
            <div>
                <label for="gender">Gender</label>
                <br>
                <input type="radio" name="gender" value="male" id="male">
                <label for="male">Male</label>
                <input type="radio" name="gender" value="female" id="female">
                <label for="female">Female</label>
                <input type="radio" name="gender" value="others">
                <label for="others">Prefer not to say</label>
            </div>
            <div>
                <input type="number" name="phone" id="phone" placeholder="Phone Number"  required>
            </div>
            <div>
                <input type="email" name="email" id="email" placeholder="Email"  required>
            </div>
            <div>
                <div>
                    <select name="country" id="country" placeholder="Country">
                        <option value="">Country</option>
                        <option value="Nigeria">Nigeria</option>
                        <option value="USA">USA</option>
                    </select>
                </div>
                <div>
                    <select name="state_of_residence" id="state">
                        <option value="">state</option>
                        <option value="Nigeria">Nigeria</option>
                        <option value="USA">USA</option>
                    </select>
                </div>
            </div>
            <div>
                <label for="profileimg">Add an image</label>
                <input type="file" id="profileimg" name="profile_img">
            </div>
        </div>   
        <div class="school-info">
            <div>
                <input type="program" name="program" id="program" placeholder="Program">
            </div>
            <div>
                <input type="text" name="course" id="course" placeholder="Course">
            </div>
            <div>
                <input type="text" name="matric" id="matric" placeholder="Matric Number">
            </div>
            <div>
                <input type="text" name="post" id="role" placeholder="Role if any">
            </div> 
            <div>
                <input type="date" name="grad_year" id="gradyear" placeholder="Graduation Year">
            </div>
            <div>
                <input type="text" name="mascot" id="mascot" placeholder="Mascot">
            </div>
        </div> 
        <div class="professional-info">
            <div>
                <input type="text" name="occupation" id="occupation" placeholder="Current Occupation">
            </div>
            <div>
                <input type="text" name="job_desc" id="job_desc" placeholder="Job Description">
            </div>
            <div>
                <label for="">Are you an employer of employer of labour?</label>
                <div>
                    <input type="radio" name="emp_of_labour" id="yes" value="1">
                    <label for="yes">Yes</label>
                    <input type="radio" name="emp_of_labour" id="no" value="0">
                    <label for="no">No</label>
                </div>
            </div>
            <div>
                <label for="vacancy">What Available jobs can you provide?</label>
                <br>
                <textarea id="vacancy" name="vacancy" rows="4" cols="50"></textarea>
            </div>
            <div>
                <input type="text" name="office_phone" id="office_phone" placeholder="Office Number">
            </div>
            <div>
                <input type="text" name="office_address" id="office_address" placeholder="Office Address">
            </div>
        </div>
        <div class="security">
            <div>
                <input type="password" name="password" id="password" placeholder="Enter Password" required>
            </div>
            <div>
                <input type="password" name="cpassword" id="cpassword" placeholder="Confirm Password" required>
            </div>
        </div>
        <input type="submit" value="submit">
    </form>
    
</body>
</html>