<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title> <%-title %></title>
        <link rel="stylesheet" type="text/css" href="/css/loginstyle.css" />
    </head>
<body>

    <div class="loginleft">

        <div class="logo">
            <img src="/img/asset/bu_logo.png" alt="Babcock Alumni Logo">
            <h3>Babcock Alumni <br>tracking  System<br>(BATS)</h3>
        </div>
        
        <div class="login">
            
            <h2>Registration successful</h2>
            <p>You have successfully been registered and can <a href="/auth/login">Login here</a></p>
        </div>
        
        <p>Don't have an account? <a href="/auth/register">Register Now</a></p>

    </div>

    <div class="loginright">
       
        <a href="/auth/register" class="reg-btn">Register</a>
       
        <div>
            <img src="/img/asset/tracklogin.png" alt="tracking">
        </div>
       
        <div class="textdesc">
            <h3>Description</h3>
       
        </div>
    </div>
</body>
</html>