<nav>
    <div class="navleft">
        <a href="/admin/dashboard" class="logo">
            <img src="/img/asset/bu_logo.png" alt="Babcock Alumni Logo">
            <p>Babcock Alumni <br>tracking  System<br>(BATS)</p>
        </a>
    </div>
    <div class="navmain">
        <a href="/admin/dashboard">Dashboard</a>
        <a href="#">Track</a>
        <a href="#">About Us</a>
        <a href="#">Contact</a>
    </div>
    <div class="navright">
        <a href="/logout">Logout</a>
        <a href="/alumni/me">Profile</a>
    </div>
</nav>

