<footer>
   <div class="feature">
        <h4>Features</h4>    
        <p>Tracking</p>
        <p>Alumni Search</p>
        <p>Alumni Map</p>
        <p>Alumni Analytics</p>
   </div>
    <div class="contact">
        <h4>Get in Touch</h4>
        <a href="mailto:alumni@babcock.edu.ng">alumni@babcock.edu.ng</a> <br>
        <a href="tel:+01234567">01-234567</a>
        <p>Babcock University <br> ileshan-remo, Ogun State, <br>Nigeria</p>
    </div>
    <div class="batslogo">
        <img src="" alt="">
        <p>Babcock Alumni Tracking <br> System <br> (BATS)</p>
        <p>&copy; King, Emeka & brown</p> 
        <a href="#">Disclaimer, Terms and Conditions</a>
    </div>
</footer>