<nav>
    <div class="navleft">
        <div class="logo">
            <a href="/alumni/home">Home</a>
        </div>
    </div>
    <div class="navmain">
        <a href="/alumni/track">Track</a>
        <a href="/alumni/about">About Us</a>
        <a href="/alumni/contact">Contact</a>
    </div>
    <div class="navright">
        <a href="/logout">Logout</a>
        <a href="#">Profile</a>
    </div>
</nav>