<nav>
    <div class="navleft">

    </div>
    <div class="navmain">
        <a href="">Track</a>
        <a href=""></a>
    </div>
    <div class="navright">
        <a href="/logout">Logout</a>
        <a href="#">Profile</a>
    </div>
</nav>