<header>
    <nav class="topnav">
        <div class="navleft">
            <a href="/alumni/home" class="logo">
                <img src="/img/asset/bu_logo.png" alt="Babcock Alumni Logo">
                <p>Babcock Alumni <br>tracking  System<br>(BATS)</p>
            </a>
        </div>
        <div class="navmain">
            <a href="/alumni/home">Home</a>
            <a href="/alumni/track">Track</a>
            <a href="/alumni/about">About Us</a>
            <a href="/alumni/contact">Contact</a>
        </div>
        <div class="navright">
            <div class="btncont">
                <p>Welcome,</p>
                <a onclick="userOptions()" class="userbtn"><%= name %></a>
            </div>
            <div id="user-options" class="user-options-content">
                <a href="/alumni/me/<%= userUUId %>">Profile</a>
                <a href="/logout">Logout</a>
            </div>
        </div>
        <a href="javascript:void(0);" class="icon" onclick="myFunction()">
            <i class="fa fa-bars"></i>
        </a>
    </nav>
</header>

