<nav>
    <div>
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/track">Track Us</a>
        <a href="/contact">Contact Us</a>
        <br>
        <br>
        <a href="/auth/login">Login</a>
        <a href="/auth/register">Register</a>
        <br>
        <br>
        <br>
    </div>
</nav>