<nav>
    <div class="navleft">
        <div class="logo">
            <a href="/">Home</a>
        </div>
    </div>
    <div class="navmain">
        <a href="/track">Track</a>
        <a href="/about">About Us</a>
        <a href="/contact">Contact</a>
    </div>
    <div class="navright">
        <a href="/auth/login">Log in</a>
        <a href="/auth/register">Register</a>
    </div>
</nav>