<header>
    <nav>
        <div class="navleft">
            <a href="/" class="logo">
                <img src="/img/asset/bu_logo.png" alt="Babcock Alumni Logo">
                <p>Babcock Alumni <br>tracking  System<br>(BATS)</p>
            </a>
        </div>
        <div class="navmain">
            <a href="/">Home</a>
            <a href="/track">Track</a>
            <a href="/about">About Us</a>
            <a href="/contact">Contact</a>
        </div>
        <div class="navright">
            <a href="/auth/login">Log in</a>
            <a href="/auth/register">Register</a>
        </div>
    </nav>

</header>