<!DOCTYPE html>
<html lang="en">
<%- include('../views/partials/guestHead.ejs') %> 
<body>
    <%- include('../views/partials/guestNav.ejs') %>
    <div class="track">
       <h2>404</h2>
       <p>Page not found</p>
    </div>
    <%- include('../views/partials//guestFooter.ejs') %>
</body>
</html>