*{
    margin: 0;
    padding: 0;
    font-family: Helvetica, sans-serif;
    box-sizing: border-box;
}

html{
    background-image: url('/img/asset/babcockbbs.png');
    background-repeat: no-repeat;
}

body{
    min-height: 100vh;
    width: 100%;
    display: flex;
    color: black;
    background-color:rgba(30, 75, 152, 0.486);
}

.logo{
    display: flex;
    align-items: center;
    align-self: flex-start;
}
.logo img{
    max-width: 5rem;
    margin-right: 0.5rem;
}

.regleft{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    width: 50%;
    padding: 2.5rem;
}

.form{
   display: flex;
   flex-direction: column;
   margin-top: 2rem;
   width: 350px;
}

form{
    display: flex;
    flex-direction: column;
}

form h2{
    margin-bottom: 1.5rem;
    text-align: center;
}

.regleft input{
    margin: 0.5rem 0rem;
    width: 100%;
    height: 2.3rem;
    padding: 10px;
    font-size: 1rem;
    font-weight: 400;
    border: 2px;
    border-style: solid;
    border-radius: 8px;
}
.regleft input:hover{
    border-style: solid;
    border-color: #D69A3E;
}

.regleft select{
    margin: 0.5rem 0rem;
    width: 100%;
    height: 2.5rem;
    padding: 10px;
    font-size: 1rem;
    font-weight: 400;
    border: 2px;
    border-style: solid;
    border-radius: 8px;
}
.emp_of_labour{
    margin: 0.5rem 0rem;
}
.emp_labour{
    display: flex;
}
.emp_labour div{
    display: flex;
    align-items: center;
    margin-right: 1rem;
}
.emp_labour input{
    height: 2rem;
}

textarea{
    width: 100%;
    margin: 0.5rem 0rem;padding: 10px;
    font-size: 1rem;
    font-weight: 400;
    border-radius: 8px;
    border: 2px;
    border-style: solid;

}

.submit-btn{
    height: 2rem;
    width: 9rem;
    background-color: #1772c7;
    color: #ffffff;
    border-radius: 2rem;
    border: none;
}
.submit-btn:hover{
    cursor: pointer;
    background-color: #125B9E;
}

.ctrl-btn{
    display: flex;
    justify-content: space-between;
}
.ctrl-btn button{
    height: 2rem;
    width: 9rem;
    background-color: #1772c7;
    color: #ffffff;
    border-radius: 2rem;
    border: none;
}
.ctrl-btn button:hover{
    cursor: pointer;
    background-color: #125B9E;
}

.reg-btn{
    background-color: white;
    width: 5.5rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: black;
    border-radius: 1rem;
    align-self: flex-end;
}
.reg-btn:hover{
    border-style: solid;
    border-color: #D69A3E;
}

a{
    text-decoration: none;
    color: rgb(94, 93, 93);
}
.left-reg-foot{
    margin-top: 2rem;
}
a:hover{
    color: #D69A3E;
}
a:hover{
    color: #D69A3E;
}

.regright{
    width: 50%;
    overflow: hidden;
}

