<!DOCTYPE html>
<html lang="en">
<%- include('../partials/alumniHead.ejs') %> 
<body>
    <%- include('../partials/alumniNav.ejs') %>
    
    <div class="about">
        <div class="batsabout">
            <div class="img">

            </div>
            <div class="text">
                <h2>Babcock Alumni Tracking System</h2>
                <p> 
                    Babock Alumni tracking system is a platform that allows Babcock University 
                    to maintain a database of their alumni and keep track of their professional 
                    progress. The platform provides a comprehensive solution for alumni engagement, 
                    tracking, and communication.
                </p>
            </div>
        </div>
        <div class="features">
            <h2>Features</h2>
            <div class="cards">
                <div class="card">
                    <h2>Alumni Search</h2>
                </div>
                <div class="card">
                    <h2>Alumni Analytics</h2>
                </div>
                <div class="card">
                    <h2>Alumni Geo-Location</h2>
                </div>
            </div>
        </div>
    </div>

    <%- include('../partials/alumniFooter.ejs') %>
</body>
</html>