<!DOCTYPE html>
<html lang="en">
<%- include('../partials/alumniHead.ejs') %> 
<body>
    <%- include('../partials/alumniNav.ejs') %>
    <div class="home">
        
        <div class="info">
            <a href="/alumni/search/near" class="near card">
                <p>Alumni near you</p>
                <h3><%= alumniNearNum %></h3>
            </a>
            <a  href="/alumni/track" class="findAlumni card">
                <p>Search Alumni</p>
            </a>
            <div class="update">
                <a href="/alumni/profile/update" class="details">
                    <h3>Update details</h3>
                </a>
                <!-- <a class="memories">
                    <h3>Add memories</h3>
                </a> -->
            </div>
        </div>
        <!-- <div class="news">
            <div class="twitter">twitter here</div>
            <div class="mem">memories here</div>
        </div> -->
    </div>
    <%- include('../partials/alumniFooter.ejs') %>
</body>
</html>