<!DOCTYPE html>
<html lang="en">
<%- include('../partials/alumniHead.ejs') %> 
<body>
    <%- include('../partials/alumniNav.ejs') %>
    <h1>Alumni Contact</h1>

    <%- include('../partials/alumniFooter.ejs') %>
</body>
</html>